@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import 'overlayscrollbars/overlayscrollbars.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input[type=range] {
    @apply appearance-none bg-gradient-to-t from-white to-white bg-no-repeat
    bg-[length:var(--volume-level)_100%] bg-zinc-500;
  }

  input[type=range]:hover {
    @apply bg-gradient-to-r from-green-500 to-green-500 
    bg-[length:var(--volume-level)_100%];
  }

  input[type=range]:hover::-webkit-slider-thumb {
    @apply visible;
  }

  input[type='range']::-webkit-slider-thumb {
    @apply appearance-none h-3 w-3 rounded-full bg-white;
    visibility: hidden;
  }

  input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
  }
}

.os-theme-light {
  --os-size: 16px;
  --os-handle-border-radius: 0;
}
